@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__description/card__description.css);

.cards {
  width: 920px;
  margin: 0 auto;
  /* Можн сверстать флексом, но вроде нам показывали верстку гридом
  Как правильнее?
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
}
