.footer__column_content_copyright {
  /*Стили модификатора должны содержать в себе только отличия от базового класса и не повторять стили, которые уже у него написаны.
  Не может быть так, чтобы все стили одного блока были только у модификатора.

  ЧТО??? ЧТО ЗА БРЕД?
  1) Тут не стили всего блока, тут стили конкретно этого модификатора
  2) Как это возможно вообще исправить? В прошлом код-ревью к этому элементу не было претензий
  */

  flex-basis: 711px; /*Отличие от базового класса: только у этого элемента .footer__column есть ширина*/
  display: flex; /*Отличие от базового класса: только у этого элемента элементы отображаются флеком*/
  flex-direction: column; /*Отличие от базового класса: только у этого элемента элементы выстроены в колонку*/
  justify-content: space-between; /*Отличие от базового класса: только у этого элемента элементы прижаты к началу и концу*/
}
