.footer__column_content_copyright {
  /*Стили модификатора должны содержать в себе только отличия от базового класса и не повторять стили, которые уже у него написаны.
  Не может быт так, чтобы все стили одного блока были только у модификатора.
  ЧТО??? ЧТО ЗА БРЕД?

  1) Тут не стили всего блока, тут стили конкретно этого модификатора
  2) Как это возможно исправить?
  */
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
